<p id="notice"><%= notice %></p>

<p>Twilio Number: <%= @twilio_number %></p>
<p>Buzz In Number: <%= @buzz_in_number %></p>
<p>Password: <%= @password %></p>


<%= link_to 'Edit', edit_buzz_me_app_path(@buzz_me_app) %> |
<%= link_to 'Back', buzz_me_apps_path %>




